# --- Backend (Python) ---
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.egg-info/
backend/.venv/
backend/venv/

# --- Flutter ---
mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/.packages
mobile_app/build/
mobile_app/android/.gradle/
mobile_app/android/local.properties
mobile_app/ios/Pods/
mobile_app/ios/.symlinks/
mobile_app/*.iml

# --- General ---
.DS_Store
*.log
